.header{

    width: 100%;

    position: fixed;

    z-index: 1;

    top:0;

}

.header1{

    width: 100%;

    display: block;

    height: 100px;

    align-items: center;

    background-color: #fff;

    

}

.header1-content{

    width: 1200px;

    margin: 0 auto;

    display: flex;

    height: 100%;

    align-items: center;

}

.logo{

    height: 100px;

    width: auto;

    padding-right: 100px;

}

.logo a{

    width: auto;

    height: 100%;

}

.logo a img{

    width: 100%;

    height: 100%;

}

.search{

    width: 500px;

    display: flex;

    height: 45px;

    padding-right: 50px;

}

.search .thanhsearch{

    width: 400px;

    height: 100%;

    border: 1px solid rgb(53,140,203);

    border-top-left-radius: 20px;

    border-bottom-left-radius: 20px;

    line-height: 45px;

    padding: 10px;

}

.search .thanhsearch:focus{

    outline: none;

    box-shadow: 0 0 0 0.2rem rgb(53 140 203 / 25%);

}

.icon-search{

    padding: 11px 20px;

    margin-left: -5px;

    background-color: #000;

    border-top-right-radius: 20px;

    border-bottom-right-radius: 20px;

    cursor: pointer;

}

.icon-search i{

    color: #fff;

}

.icon-search:hover{

    background-color: #fff;

    border: 1px solid rgb(53,140,203);

}

.icon-search:hover i{

    color: #000;

}

.bought{

    margin-right: 50px;

    border-radius: 50%;

   

}

.bought:hover{

    background-color: #000;

}

.bought:hover a i{

    color: #fff;



}

.bought a i{

    font-size: 20px;



}

.bought a{

    padding: 11px 12px;

}



.news{

    margin-right: 50px;

    border-radius: 50%;

    width: 50px;

    height: 50px;

    position: fixed;

    top:20px;

    z-index: 9999;

    right: 15%;

    

}

.news a i{

    font-size: 20px;



}

.news a{

    padding: 12px 12px;

}

.news:hover{

    background-color: #000;

}

.news:hover a i{

    color: #fff;



}









.news2{

    margin-right: 50px;

    border-radius: 50%;

    width: 50px;

    height: 50px;

    position: fixed;

    top:20px;

    z-index: 9999;

    right: 25%;

    

}

.news2 a i{

    font-size: 20px;



}

.news2 a{

    padding: 12px 12px;

}

.news2:hover{

    background-color: #000;

}

.news2:hover a i{

    color: #fff;



}

.bought-content::before{

    content: '';

    width: 350px;

    height: 40px;

    display: block;

    position:absolute;

    margin-top: -20px;

    

}

.news-content{

    margin-left: -100px;

}

.bought:hover .bought-content{

    display: block !important;

}

.bought-content{

    position: absolute;

    width: 350px;

    border: 1px solid rgb(185, 179, 179);

    padding: 10px;

    border-radius: 10px;

    display: none;

    margin-top: 10px;

    background-color: #fff;

    z-index: 99;

}

.bought-content h3{

    text-transform: uppercase;

    text-align: center;

}

.bought-content-box{

    padding: 10px 0;

    border-top: 1px solid rgb(185, 179, 179);

    border-bottom: 1px solid rgb(185, 179, 179);

    height: 400px;

    overflow-y: scroll;

}

.bought-content-box-item{

    width: 100%;

    padding: 0px 0;

}

.bought-content-box-item:hover{

    background-color: rgb(0, 0, 0);

    border-radius: 10px;

}

.bought-content-box-item:hover .box-item-text{

    color: #fff;

}

.bought-content-box-item a{

    display: flex;

}

.box-item-img{

    width: 80px;

    height: 70px;

    

}

.box-item-img img{

    width: 100%;

    height: 100%;

    object-fit: cover;

    border-radius: 5px;

    border: 2px solid #fff;

    

}

.box-item-text{

    font-weight: 600;

    width: 200px;

    margin-left: 10px;

    

}

.box-seemore a{

    

    

}

.box-seemore a:hover{

    text-decoration: underline 2px solid red;

    color:red;



}

.bought-content-box::-webkit-scrollbar{

    padding-right: 5px;

    width: 7px;

}

.bought-content-box::-webkit-scrollbar-track {

    box-shadow: none;

  

  }

.bought-content-box::-webkit-scrollbar-thumb {

    background-color: #a8a8a8;

    border-radius: 50px;

}

.news:hover .news-content{

    display: block;

}

.news2:hover .news-content{

    display: block;

}

.header2{

    width: 100%;

    background-color: #000;

    height: 50px;

    position: fixed;

    top: 100px;

    z-index:2;

}

.header2-content{

    width: 1200px;

    display: flex;

    justify-content: space-between;

    margin: 0 auto;

}

.header-ul-left{

    display: flex;

}

.header-li a{

    color: #fff;

    padding: 14.9px;

    

}

.header-li a:hover{

    background-color: #fff;

    color: #000;

    

}

.header-li-contents{

    position:absolute;

    width:163.5px;

    background-color: #000;

    display: none;

    border: 1px solid #ccc;

    z-index: 99;

  

}

.header-li-content-item a{

    padding: 15px;

    color: #fff;

    width: 100%;

}

.header-li-content-item a:hover{

    background-color: #fff;

    color: #000;

}

.item-has-dropdown:hover .header-li-contents{

  display: block !important;

} 

.banner{

    background-color: #000;

    height: 450px;

    border-top: 1px solid #ccc;

   

}

.banner-title{

    font-size: 20px;

    color: #fff;

    text-transform: uppercase;

    text-align: center;

    margin-top: 20px;

}

.banner_content{

    width: 1200px;

    display: flex;

    margin: 0 auto;

    margin-top: 20px;



}

.banner_content-img{

    width: 590px;

    height: 350px;

}

.banner_content-img img{

    width: 100%;

    height: 100%;

    object-fit: contain;

    

}

.banner_content-content{

    margin-left: 80px;

    width: 400px;

    display: block !important;

}

.note{

    color: red;

    font-size: 15px;

    font-weight: 600;

    text-transform: uppercase;

}

.banner_content-content h3{

    font-size: 20px;

    color: rgb(10, 161, 231);

    text-transform: uppercase;

    margin-top: 20px;

}

.banner_content-content h3:hover{

    color: rgb(2, 255, 255);

}

.banner-item-text{

    color: #fff !important;

    margin-top: 10px;

    font-size: 15px;

    width: 100% !important;

    display: block !important;

    overflow: hidden;

    -webkit-line-clamp: 3;

    display: -webkit-box;

    -webkit-box-orient: vertical;

    height: 65px;

    

}

.banner-item-text li{

    list-style:disc !important;

    margin-left: 30px;

}

.banner-item-text p{

    color: #fff !important;

    width: 100% !important;

    display: block !important;

}

.box-price{

    display: flex;

    margin-top: 20px;

   

}

.new-price{

    color: rgb(2, 255, 255);

    font-size: 20px ;

}

.old-price{

    margin-left: 20px;

    color: rgb(139, 136, 136);

    margin-top: 3px;

}

.btn-buy{

    margin-top: 20px;

    width: 130px;

    height: 40px;

}

.btn-buy button{

    width: 100%;

    height: 100%;

    cursor: pointer;

    background-color: red;

    border: none;

    color: #fff;

    border-radius: 5px;

    border: 1px solid#000;



}.btn-buy button a{

    color: #fff;

}

.btn-buy button:hover{

    background-color: #000;

    color: #fff;

    border: 1px solid#fff;

}

.main{

    width: 100%;

    padding-top: 150px;

   

}

.main-content{

    width: 1200px;

    margin: 0 auto;

}

.main1-header {

    padding:  20px 0;

    font-size: 25px;

    text-transform: uppercase;

    font-weight: 600;

    width: 100%;

    border-bottom: 1px solid #ccc;

    display: flex;

    justify-content: space-between;

}

.main1-header p{

    font-size: 25px;

    text-transform: uppercase;

    font-weight: 600;

}

.main1-content{

    margin-top: 40px;

}

.main1-item{

    width:216px;

    display: block;

    position: relative;

    float: left;

    margin-bottom: 10px;

    margin-right: 20px;

}

.main1-item-img{

    width: 216px;

    height: 221px;

    display: block;overflow: hidden;

    border: 1px solid #ccc;

    border-top-left-radius:10px ;

    border-top-right-radius:10px ;

}

.main1-item-img img{

    width: 100%;

    height: 100%;

    border-top-left-radius:10px ;

    border-top-right-radius:10px ;

    object-fit: cover;

    transition: all .3s ease;

    display: block;

    

}

.main1-content2{

    margin-top: 40;

}

.main1-item-content{

 padding: 5px;

 border: 1px solid #ccc;

 border-bottom-left-radius: 10px;

 border-bottom-right-radius: 10px;

}

.main1-item-content .box-price{

    margin-top: 10px;

}

.item1-title{

    overflow: hidden;

    -webkit-line-clamp: 3;

    display: -webkit-box;

    -webkit-box-orient: vertical;

    font-weight: 600;

    height: 60px;

}

.place{

    margin-top: 10px;

    color: rgb(177, 174, 174);

}

.new-price1{

    color: red;

    font-weight: 600;

    font-size: 16px;

}

.old-price1{

    margin-left: 10px;

    color: rgb(146, 143, 143);

    font-size: 12px;

    margin-top: 4px;

}

.owl-prev{

    width: 50px;

    height: 50px;

    margin-left: -70px !important;

    cursor: pointer;

}

.owl-next{

    width: 140px;

    height: 140px;

    margin-right: -100px !important;

    cursor: pointer;

}

.sale{

    position: absolute;

    padding: 5px;

    background-color: rgb(255, 81, 0);

    top:10px;

    color: #fff;

    border-radius: 5px;

}

.main1-item:hover .main1-item-img img{

    transform: scale(1.1);

    border-top-left-radius:10px ;

    border-top-right-radius:10px ;

}

.main1-item:hover .main1-item-content{

    border: 1px solid red;

}

.main2{

    margin-top: 20px;

}

.main1-header a{

    color: red;

}

.main1-header a:hover{

    text-decoration: underline 2px;

}

.item1-title2{

    margin-top: 10px;

    color: rgb(141, 141, 141);

    overflow: hidden;

    -webkit-line-clamp: 4;

    display: -webkit-box;

    -webkit-box-orient: vertical;

    height: 83px;

}

.main3-content{

    width: 100%;

    display: flex;

    justify-content: space-between;

    margin-top: 40px;

    

}

.main3-content_left {

    width: 216px;

    

    height: auto;

    display: block;

}

.main3-content_left ul{

    background-color: #000;

    border-radius: 10px;

    border: 1px solid #ccc;

}

.main3-content_right{

    width: 970px;

    margin-left: 20px;

}

.main3-content_right a{

    float: left;

    margin-bottom: 10px;

    margin-right: 20px;



}

.main3-content_left li a{

    width: 100%;

    padding: 10px 5px;

    color: #fff;

}

.main3-content_left li a:hover{

    background-color: #fff;

    color: #000;

}

.clear{

    clear: both;

}

.main3{

    width: 1200px;

    margin: 0 auto;

    background-color: #fff;

    padding: 10px;

}

.main3-right-title{

    font-size: 25px;

    text-transform: uppercase;

    font-weight: 600;

    margin-bottom: 20px;

}

.main3-title{

    width: 100%;

    padding: 10px 5px;

    text-transform: uppercase;

    font-weight: 600;

    color: #fff;

}

.footer{

    width: 100%;

    background-color: #000;

    margin-top: 50px;

}

.footer-content{

    width: 1200px;

    margin: 0 auto;

    display: flex;

    justify-content: space-between;

}

.footer-text1 ul li a{

    color: #fff;

    padding: 10px;

}

.footer-text1 ul li a:hover{

    color: red;

}

.footer-text1{

    width: 200px;

}

.end{

    width: 100%;

    text-align: center;

    font-size: 16px;

    background-color: rgb(25, 9, 70);

    color: #fff !important;

    padding: 10px;

}

.banner-contents{

    width: 100% !important;

    display:block !important;

}

.main1{

    width: 1200px;

    margin: 0 auto;

    background-color: #fff;

    padding: 10px;

}

.btn-search{

    padding: 11px 20px;

    margin-left: -5px;

    background-color: #000;

    border-top-right-radius: 20px;

    border-bottom-right-radius: 20px;
    cursor: pointer;

    border: none;

    color: #fff;



}

.btn-search:focus{

    border: none;

}

.btn-search:hover{

    background-color: red;

    

}



.title-search{

    font-size: 20px;

    color: red;

}

.search-title1{

    margin-top: 30px;

}

.tabs {

    width: 100%;

    background-color: #00e6ac;

    border-radius: 5px 5px 5px 5px;

    margin-top: 30px;

  }

  ul#tabs-nav {

    list-style: none;

    margin: 0;

    padding: 5px;

    overflow: auto;

  }

  ul#tabs-nav li {

    float: left;

    font-weight: bold;

    margin-right: 2px;

    padding: 8px 10px;

    border-radius: 5px 5px 5px 5px;

    /*border: 1px solid #d5d5de;

    border-bottom: none;*/

    cursor: pointer;

  }

  ul#tabs-nav li:hover,

  ul#tabs-nav li.active {

    background-color: #08E;

  }

  #tabs-nav li a {

    text-decoration: none;

    color: #FFF;

  }

  .tab-content {

    padding: 10px;

    border: 5px solid #00e6ac;

    background-color: #FFF;

  }

  .chitiet{

      margin-top: 20px;

      font-size: 16px;

      width: 1200px;

      margin: 20px auto;

      padding-top: 0px;

      

  }

  .chitiet a{

      color: red; 

      font-size: 16px; 

  }

  .wrapper_chitiet{

      display: flex;

      margin-top: 20px;

  }

  .hinhanh_sanpham{

     max-width: 450px;

     height: auto;

     

  }

  .hinhanh_sanpham img{

      border-radius: 10px;

      object-fit: contain;

      

  }

  .chitiet_sanpham{

      margin-left: 50px;

      width:650px;

     

  }

  .chitiet_sanpham h3{

      font-size: 20px;

      text-transform: uppercase;

  }

  .chitiet_sanpham p{

      margin-top: 10px;

  }

  .masp{

      font-size: 15px;

      background-color: #f5f5f5;

      padding: 5px 10px;

      border-radius: 10px;

  }

  .chitiet_sanpham span{

      font-size: 17px;

      font-weight: 600;

      color: #000;

  }

  .themgiohang{

    width: 150px;

    height: 50px;

    cursor: pointer;

    background-color: red;

    border: none;

    color: #fff;

    border-radius: 5px;

    border:none;

    margin-top: 20px;

  }

  .themgiohang:hover{

      opacity: 0.7;

  }

  .box-sale{

      

      padding: 5px 10px;

      color: #fff;

      background-color: rgb(255, 94, 0);

      margin-left: 30px;

      border-radius: 10px;

      





  }

  .tab-content img{

      width: 100% !important;

      height: 300px !important;

      float: left;

      cursor: pointer;

      border-radius: 10px;

      object-fit: cover;

  }

  .tab-content p {

     
      margin-right: 30px;

      margin-top: 30px;

      display: block;

      overflow: hidden;

      border-radius: 10px;



  }

  .tab-content img:hover{

      transform: scale(1.1);

      transition: 0.3s ease-in-out;

  }

  .tab-content{

      

  }

  * {

    box-sizing: border-box;

  }

  

  /* Position the image container (needed to position the left and right arrows) */

  .container {

    position: relative;

  }

  

  /* Hide the images by default */

  .mySlides {

    display: none;

  }

  

  /* Add a pointer when hovering over the thumbnail images */

  .cursor {

    cursor: pointer;

  }

  

  /* Next & previous buttons */

  .prev,

  .next {

    cursor: pointer;

    position: absolute;

    top: 40%;

    width: auto;

    padding: 16px;

    margin-top: -50px;

    color: white;

    font-weight: bold;

    font-size: 20px;

    border-radius: 0 3px 3px 0;

    user-select: none;

    -webkit-user-select: none;

  }

  

  /* Position the "next button" to the right */

  .next {

    right: 0;

    border-radius: 3px 0 0 3px;

  }

  

  /* On hover, add a black background color with a little bit see-through */

  .prev:hover,

  .next:hover {

    background-color: rgba(0, 0, 0, 0.8);

  }

  

  /* Number text (1/3 etc) */

  .numbertext {

    color: #f2f2f2;

    font-size: 12px;

    padding: 8px 12px;

    position: absolute;

    top: 0;

  }

  

  /* Container for image text */

  .caption-container {

    text-align: center;

  

    padding: 2px 16px;

    color: white;

  }

  

  .row:after {

    content: "";

    display: table;

    clear: both;

  }

  

  /* Six columns side by side */

  .column {

    float: left;

    width: 75px;margin-right: 10px !important;

    height: 75px;

  }

  .column img{

      width: 100%;

      height: 100% !important;

  }

  /* Add a transparency effect for thumnbail images */

  .demo {

    opacity: 0.6;

    border: 1px solid #ccc;

    

  }

  .demo:hover{

      border: 1px solid #000;

  }

  

  .active,

  .demo:hover {

    opacity: 1;

  }

  

  .tensp{

      width: 200px;

  }

  table{

      padding-top: 20px;

  }

  .hinhanh{

      width: 300px !important;

      height: 150px !important;

  }

  .hinhanh img{

      width: 100%;

      height:100%; 

      object-fit: contain;



      

  }

  .delete a{

     

      background-color: red;

      padding:5px 10px;

      color:#fff;

      border-radius: 10px;

  }

  .delete a:hover{

      background-color: #00e6ac;

      color: #000;

  }

  .sum-mn{

      margin-right: 120px;

  }

  .sum-mn span{

      font-size: 20px;

      color: red;

  }

  .delete-all{

      margin-top: 20px;

      

  }

  .number-items{

      margin-top: -30px;

  }

  .number-items span{

      font-size: 20px;

      color: red;

  }

  .id{

      width: 50px;

  }

  .masp2{

      width: 70px;

  }

  .soluong{

      width: 200px;

  }

  .fa-style{

      padding: 5px;

      border: 1px solid #ccc;

      border-radius: 5px;

  }

  .plus-sl{

      margin-left: 5px;

      margin-right: 5px;

  }

  .fa-minus{

      margin-right: 10px;

  }

  .fa-plus{

      margin-left: 10px;

  }

  .dathang{

      padding: 10px 20px;

      background-color: red;

      margin-top: 30px;

      color: #fff;

      border-radius: 10px;

  }

  .dathang:hover{

      background-color: #00e6ac;

      color: #000;

  }

  .main5{

      width: 1200px;

      margin: 0 auto;

      background-image: url("../img/Saigon_skyline_night_view\ \(1\).jpg");

      margin-top: 20px;

      min-height: 700px;

      background-position: center; /* Center the image */

      background-repeat: no-repeat; /* Do not repeat the image */

      background-size: cover; 

  }

  .form_login{

      min-height: 300px;

      margin: 0 auto;

      align-items: center;

      background-color: rgba(255,255,255,0.5);

      width: 500px;

      transform: translateY(100px);

      border-radius: 10px;

      padding: 10px 0px;

      



  }

  .form_login h1{

      text-align: center;

      text-transform: uppercase;

      color: #fff;

  }

  .login1{

      margin-top: 20px;

      width: 100%;

      height: 40px;

  }

  .login1 input{

      width: 100%;

      height: 100%;

      border-radius: 10px;

      padding: 10px;

      border: none;



  }

  .login1 input:focus{

      outline: 3px solid red;

  }

  .form_login-content{

      width: 80%;

      margin: 0 auto;

  }

  .login-btn{

      margin-top: 20px;

      padding: 10px 30px;

      background-color: red;

      border-radius: 10px;

      border: none;

      cursor: pointer;

      color: #fff;



  }

  .login-btn:hover{

      background-color: rgb(0, 181, 253);

  }

  .check-btn{

      color: rgb(0, 0, 0);

      margin-left: 20px;

  }

  .login-btn a{

      color: #fff;

  }

.link-login{

float: right;

}

.main-giohang{

    min-height: 300px;

}

.span-sl{

    

    position: absolute;

    width: 20px;

    height: 20px;

    background-color: red;

    padding:0 5px;

    border-radius: 50%;

    margin-left: 30px;

    color: #fff;



}

.header-ul-right{

    display: flex;

}

.bar-mobie{

    position: fixed;

    top: 100px;

    left: 10px;

    display: none;

    z-index: 999999999999999999999999;

}

.header-ul-right{

    background-color: #000;

    width: 375px;

    margin: 0 auto;

}

.media-thanhtoan{

    display: flex;

    justify-content: space-between;

    margin-top: 20px;

    border-bottom: 1px solid #ccc;

    display: none ;

}

.gr1{

    max-width: 70%;

}

.soluongsp{

    margin-top: 10px;

}

.all-price{

    margin-top: 20px;

    margin-bottom: 20px;

}